<header class="w-100">
    <nav class="">
        <span id="site-logo" class="">
            <a href="{{ url_for('index') }}">
                <img src="../static/img/webpage_images/logo/cyberry02.png" width="80%" />
            </a>
            <h1>Cyberry</h1>
        </span>
        <ul>
            <li class="button-52">
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="button-52">
                <a href="{{ url_for('login') }}">Log In</a>
            </li>
            <li class="button-52">
                <a href="{{ url_for('registration') }}">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>