<header class="w-100">
    <nav class="d-flex row justify-between align-center">
        <span id="site-logo" class="d-flex justify-center align-center">
            <a href="{{ url_for('index') }}">
                <img src="../static/img/cyberry02.png" width="15%" />
            </a>
            <h1>Cyberry</h1>
        </span>
        <div class="header">
                <button class="button-52" role="button" onclick="{{ url_for('index') }}">Home</button>
                <button class="button-52" role="button" onclick="{{ url_for('face_detection') }}">FaceDetect</button>
                <button class="button-52" role="button">Sign up</button>
                <button class="button-52" role="button">Log in</button>
        </div>
    </nav>
</header>