{% extends 'layout.html' %}
{% block title %}Cyberry Home{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p class="flash-messages">
                {% for category, message in messages %}
                    <span class="flash-{{ category }}">{{ message }}</span>
                {% endfor %}
                <span data-flash-message-close onclick="document.querySelector('.flash-messages').style.display = 'none'">X</span>
            </p>
        {% endif %}
    {% endwith %}

    <h3>{{ 'No logged in user' if user is none else user }}</h3>
    <div>

    </div>
{% endblock %}