{% extends 'layout.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p class="flash-messages">
                {% for category, message in messages %}
                    <span class="flash-{{ category }}">{{ message }}</span>
                {% endfor %}
                <span data-flash-message-close onclick="document.querySelector('.flash-messages').style.display = 'none'">X</span>
            </p>
        {% endif %}
    {% endwith %}

    <div class="registration">
        <h2>Registration</h2>
        <p>Please enter your username and password <br>and select 'Face recognition' for face sign up option!</p>
        <br>
        <form class="registration-form" action="/registration" method="POST">
            <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="password-check">Password again:</label>
            <input type="password" id="password-check" name="password_check" required>
        </div>
        <div>
            <span>Face recognition:</span>
            <label for="face-recognition">Yes</label>
            <input type="radio" id="face-recognition" name="face_recognition" value="True" >
            <label for="face-recognition">No</label>
            <input type="radio" id="face-recognition" name="face_recognition" value="False" >
        </div>
        <div>
            <button type="submit" value="Register">Register</button>
        </div>
        </form>
    </div>
{% endblock %}