{% extends 'layout.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
    <div class="registration">
        <h2>Registration</h2>
        <p>Please enter your username and password <br>and select 'Face recognition' for face sign up option!</p>
        <br>
        <form class="registration-form" action="/registration" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <div>
                <label for="password-check">Password again:</label>
                <input type="password" id="password-check" name="password-check" required>
            </div>
            <br>
            <div>
                <label for="face-recognition">Face recognition</label>
                <input type="checkbox" id="face-recognition" name="face-recognition" value="True">
            </div>
            <br>
            <div>
                <button class="button-submit" type="submit" value="Register">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock %}